<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical inventory</title>
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <h1>Medicine list</h1>
    <table class="table table-md table-bordered">
        <thead>
            <tr style="text-align: center; vertical-align: middle">
                <th scope="col">ID</th>
                <th scope="col">Medicine Name</th>
            </tr>
        </thead>
        <tbody style="text-align: center; vertical-align: middle">
            <tr th:each="medlist : ${medlist}">
                <td th:text="${medlist.id}">001</td>
                <td th:text="${medlist.Mediname}">paracetamol</td>
            </tr>
        </tbody>
    </table>
</body>
</html>