<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical inventory</title>
</head>
<body>
    <h1>Medicine list</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Medicine Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="MedilistService : ${medlist}">
                <td th:text="${medlist.id}">WHY DONT YOU WORK</td>
                <td th:text="${medlist.mediname}">LIKE REALLY</td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</body>
</html>